body {
	background-color: #EFC050;
	}

h1 {
	color: #111;
	font-family : 'Helvetica Neue', sans-serif;
	letter-spacing: -1px;
	font-size: 100px;
	font-weight: bold;
	text-align: center;
}	

div {
	font-family : 'Open Sans', sans-serif;
	font-size: 150%;
}
	
a:link {
  	text-decoration: none;
  	color: #00008B;
}

a:hover {
	text-decoration: underline;
	color: #0000FF;
}

.nav {
	  background-color:  #bb8811; 
	  list-style-type: none;
	  text-align: center;
	  margin: 0;
	  padding: 0;
}

.nav li {
  	display: inline-block;
  	font-family : 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 200%;
  	padding: 20px;
}

.line-separator{
    height:10px;
    background:#717171;
    border-radius: 30px;
    border-bottom:5px solid #313030;
  	margin: 20px auto;
}

input {
    display:inline-block;
    padding:15px 10px;
    line-height:140%;
    font-size: 16px;
}

button {
	background-color: #e7e7e7; 
  	border: none;
	color: black;
	padding: 15px 10px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-family : 'Open Sans', sans-serif;
}

div.message {
  	font-family : 'Open Sans', sans-serif;
  	font-weight: bold;
  	text-decoration: underline;
}

button:hover {
  	background-color: #555555;
  	color: white;
}

cation, td, th {
  	border-bottom: 1px solid black;
 	text-align: left;
  	padding: 10px;
}

th {
	background-color: #235d93;
	color: white
}

table {
	width: 100%;
  	border-collapse: collapse;
}

caption {
	  background: #235d93;
	  font-weight: bold;
	  font-size: 150%;
}

