<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title>Edit ToDo</title>
</head>

<body>
	<h1>Edit ToDo</h1>
	
	<div>
		<ul>
			<li><a href="/toDoManager">Manage ToDo</a></li>
		</ul>
	</div>

	<div>
		<form name="EditToDoForm" th:action="@{/toDoManager/updateToDo}" method="post">
			<input type="hidden" th:field="${toDo.id}" /> 
			<label>Title : </label> <input type="text" name="title" th:field="${toDo.title}" required> 
			<label>Description : </label> <input type="text" name="description" th:field="${toDo.description}" required>
			<label>Done : </label><input type="checkbox" name="done" th:checked="${toDo.done}" value="true" />
			<label>Deadline : </label> <input type="date" name=deadline th:value="${toDo.deadline}" required>
			
			<div>
				<button type="submit" name="btn_updateToDo">Save</button>
			</div>
			
		</form>
	</div>
</body>
</html>