<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8"/>
<title>Login Page</title>
<link rel="stylesheet" th:href="@{/toDoManager.css}" TYPE="text/css">
</head>
<body>
	<h1>Login</h1>
	
	<div class="message" id="error" th:if="${error}">
		<span th:text="${error_message}"></span>
	</div>
	
	<div>
		<form name="loginForm" th:action="@{/login}" method="post">
			<label>Username : </label>
			<input type="text" placeholder="Enter Username" name="username" required> 
			<label>Password : </label>   
            <input type="password" placeholder="Enter Password" name="password" required>  
			<div>
			<button type="submit" name="btn_submit">Login</button>   
			</div>
		</form>
		
		<a href="/">Go Back</a>
	</div>
</body>
</html>